<div class="header-top-v-1">
          <div class="container">
            
        <div class="logo">          
           <a href="index.html">
          <img src="images/hf_logo.png" height="164" width="164" alt="">
          </a>         
        </div>

        <div class="header-top-right-v1">
        <nav class="navigation">
              <a href="" class="menu-toogle"></a>
             <ul>
              <li><a href="index.html" class="active">Home</a></li>
              <li><a href="guacamole.html">Guacamole</a></li>
              <li><a href="farmers.html">Pulp</a></li>
              <li><a href="about.html">Cut Fruit</a></li>
              <li><a href="blog.html">Recipes</a></li>
              <li><a href="contact.html">Get Started</a></li>
            </ul>
        </nav>
        </div>
      </div>
    </div>

<div class="navigation-mobile">
      <ul>
        <li class="menu-item-has-children"><a href="#">Home</a>
          <ul class="sub-menu">
            <li><a href="index.html">HomePage 01</a>
            <li><a href="index-2.html">HomePage 02</a>
          </ul>
        </li>
        <li><a href="shop.html">Shop</a></li>
        <li><a href="farmers.html">farmers</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
</div>